ColdBooks/java/dtds/qbmsxml10.xsd


<!-- ============================================================================= -->
<!--                                                                               -->
<!-- qbmsxml10.xsd                                                                 -->
<!--                                                                               -->
<!-- qbmsXML version 1.0                                                           -->
<!--                                                                               -->
<!-- Unpublished work. INTUIT CONFIDENTIAL.                                        -->
<!-- (c) 2005 Intuit Inc. All rights reserved.                                     -->
<!--                                                                               -->
<!-- Use is subject to a qbmsXML Developer Agreement available at:                -->
<!--          http://developer.intuit.com/legal/                                   -->
<!--                                                                               -->
<!-- NOTICE: THE API IS A PRELIMINARY SPECIFICATION, AND IS SUBJECT TO CHANGE.     -->
<!-- IT IS NOT FOR USE IN PRODUCTION.   ANY USE OF THE API                         -->
<!-- IS AT YOUR OWN RISK.                                                          -->
<!--                                                                               -->
<!-- ============================================================================= -->

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">

<xsd:include schemaLocation="qbmsxmltypes10.xsd"/>
<xsd:include schemaLocation="qbmsxmlso10.xsd"/>


<!-- ============================================================================= -->
<!--     Elements                                                                  -->
<!-- ============================================================================= -->

<xsd:element name="CreditCardNumber" type="STRTYPE"/>
<xsd:element name="CreditCardAddress" type="STRTYPE"/>
<xsd:element name="CreditCardPostalCode" type="STRTYPE"/>
<xsd:element name="NameOnCard" type="STRTYPE"/>
<xsd:element name="Amount" type="AMTTYPE"/>
<xsd:element name="ExpirationYear" type="INTTYPE"/>
<xsd:element name="ExpirationMonth">
	<xsd:simpleType>
		<xsd:restriction base="INTTYPE">
			<xsd:maxInclusive value="12"/>
			<xsd:minInclusive value="1"/>
		</xsd:restriction>
	</xsd:simpleType>
</xsd:element>
<xsd:element name="SalesTaxAmount" type="AMTTYPE"/>
<xsd:element name="CommercialCardCode" type="STRTYPE"/>
<xsd:element name="CardSecurityCode" type="STRTYPE"/>
<xsd:element name="CardSecurityCodeMatch">
	<xsd:simpleType>
		<xsd:restriction base="ENUMTYPE">
			<xsd:enumeration value="Pass"/>
			<xsd:enumeration value="Fail"/>
			<xsd:enumeration value="NotAvailable"/>
		</xsd:restriction>
	</xsd:simpleType>
</xsd:element>
<xsd:element name="CreditCardTransID" type="STRTYPE"/>
<xsd:element name="ReconBatchID" type="STRTYPE"/>
<xsd:element name="PaymentGroupingCode" type="INTTYPE"/>
<xsd:element name="PaymentStatus">
	<xsd:simpleType>
		<xsd:restriction base="ENUMTYPE">
			<xsd:enumeration value="Unknown"/>
			<xsd:enumeration value="Completed"/>
		</xsd:restriction>
	</xsd:simpleType>
</xsd:element>
<xsd:element name="AVSStreet">
	<xsd:simpleType>
		<xsd:restriction base="ENUMTYPE">
			<xsd:enumeration value="Pass"/>
			<xsd:enumeration value="Fail"/>
			<xsd:enumeration value="NotAvailable"/>
		</xsd:restriction>
	</xsd:simpleType>
</xsd:element>
<xsd:element name="AVSZip">
	<xsd:simpleType>
		<xsd:restriction base="ENUMTYPE">
			<xsd:enumeration value="Pass"/>
			<xsd:enumeration value="Fail"/>
			<xsd:enumeration value="NotAvailable"/>
		</xsd:restriction>
	</xsd:simpleType>
</xsd:element>
<xsd:element name="MerchantAccountNumber" type="STRTYPE"/>
<xsd:element name="AuthorizationCode" type="STRTYPE"/>
<xsd:element name="TxnAuthorizationTime" type="DATETIMETYPE"/>
<xsd:element name="TxnAuthorizationStamp" type="INTTYPE"/>
<xsd:element name="IsECommerce" type="BOOLTYPE"/>
<xsd:element name="IsRecurring" type="BOOLTYPE"/>


<!-- ============================================================================= -->
<!--      Message Sets                                                             -->
<!-- ============================================================================= -->

<!-- Message Set Request/Response Pairs and contained requests  -->
<xsd:element name="QBMSXMLMsgsRq">
	<xsd:complexType>
		<xsd:choice minOccurs="0" maxOccurs="unbounded">
			<xsd:element name="CustomerCreditCardChargeRq" type="CustomerCreditCardChargeRqType"/>
			<xsd:element name="CustomerCreditCardVoiceAuthRq" type="CustomerCreditCardVoiceAuthRqType"/>
			<xsd:element name="CustomerCreditCardAuthRq" type="CustomerCreditCardAuthRqType"/>
			<xsd:element name="CustomerCreditCardCaptureRq" type="CustomerCreditCardCaptureRqType"/>
			<xsd:element name="CustomerCreditCardRefundRq" type="CustomerCreditCardRefundRqType"/>
			<xsd:element name="CustomerCreditCardTxnVoidRq" type="CustomerCreditCardTxnVoidRqType"/>
		</xsd:choice>
	</xsd:complexType>
</xsd:element>

<xsd:element name="QBMSXMLMsgsRs">
	<xsd:complexType>
		<xsd:choice minOccurs="0" maxOccurs="unbounded">
			<xsd:element name="CustomerCreditCardChargeRs" type="CustomerCreditCardChargeRsType"/>
			<xsd:element name="CustomerCreditCardVoiceAuthRs" type="CustomerCreditCardVoiceAuthRsType"/>
			<xsd:element name="CustomerCreditCardAuthRs" type="CustomerCreditCardAuthRsType"/>
			<xsd:element name="CustomerCreditCardCaptureRs" type="CustomerCreditCardCaptureRsType"/>
			<xsd:element name="CustomerCreditCardRefundRs" type="CustomerCreditCardRefundRsType"/>
			<xsd:element name="CustomerCreditCardTxnVoidRs" type="CustomerCreditCardTxnVoidRsType"/>
		</xsd:choice>
	</xsd:complexType>
</xsd:element>

<!-- ============================================================================= -->
<!--      Request Detail                                                           -->
<!-- ============================================================================= -->


<!-- CustomerCreditCard Requests -->
<xsd:complexType name="CustomerCreditCardChargeRqType">
	<xsd:sequence>
		<xsd:element ref="CreditCardNumber"/>
		<xsd:element ref="ExpirationMonth"/>
		<xsd:element ref="ExpirationYear"/>
		<xsd:element ref="Amount"/>
		<xsd:element ref="NameOnCard" minOccurs="0"/>
		<xsd:element ref="CreditCardAddress" minOccurs="0"/>
		<xsd:element ref="CreditCardPostalCode" minOccurs="0"/>
		<xsd:element ref="CommercialCardCode" minOccurs="0"/>
		<xsd:element ref="SalesTaxAmount" minOccurs="0"/>
		<xsd:element ref="CardSecurityCode" minOccurs="0"/>
		<xsd:element ref="IsECommerce" minOccurs="0"/>
		<xsd:element ref="IsRecurring" minOccurs="0"/>
	</xsd:sequence>
	<xsd:attribute name="requestID" type="STRTYPE"/>
</xsd:complexType>

<xsd:complexType name="CustomerCreditCardVoiceAuthRqType">
	<xsd:sequence>
		<xsd:element ref="CreditCardNumber"/>
		<xsd:element ref="ExpirationMonth"/>
		<xsd:element ref="ExpirationYear"/>
		<xsd:element ref="Amount"/>
		<xsd:element ref="AuthorizationCode"/>
		<xsd:element ref="CommercialCardCode" minOccurs="0"/>
		<xsd:element ref="SalesTaxAmount" minOccurs="0"/>
		<xsd:element ref="IsECommerce" minOccurs="0"/>
	</xsd:sequence>
	<xsd:attribute name="requestID" type="STRTYPE"/>
</xsd:complexType>

<xsd:complexType name="CustomerCreditCardAuthRqType">
	<xsd:sequence>
		<xsd:element ref="CreditCardNumber"/>
		<xsd:element ref="ExpirationMonth"/>
		<xsd:element ref="ExpirationYear"/>
		<xsd:element ref="Amount"/>
		<xsd:element ref="NameOnCard" minOccurs="0"/>
		<xsd:element ref="CreditCardAddress" minOccurs="0"/>
		<xsd:element ref="CreditCardPostalCode" minOccurs="0"/>
		<xsd:element ref="CommercialCardCode" minOccurs="0"/>
		<xsd:element ref="SalesTaxAmount" minOccurs="0"/>
		<xsd:element ref="CardSecurityCode" minOccurs="0"/>
		<xsd:element ref="IsECommerce" minOccurs="0"/>
		<xsd:element ref="IsRecurring" minOccurs="0"/>
	</xsd:sequence>
	<xsd:attribute name="requestID" type="STRTYPE"/>
</xsd:complexType>

<xsd:complexType name="CustomerCreditCardCaptureRqType">
	<xsd:sequence>
		<xsd:element ref="CreditCardTransID"/>
		<xsd:element ref="Amount" minOccurs="0"/>
	</xsd:sequence>
	<xsd:attribute name="requestID" type="STRTYPE"/>
</xsd:complexType>

<xsd:complexType name="CustomerCreditCardRefundRqType">
	<xsd:sequence>
		<xsd:element ref="CreditCardNumber"/>
		<xsd:element ref="ExpirationMonth"/>
		<xsd:element ref="ExpirationYear"/>
		<xsd:element ref="Amount"/>
		<xsd:element ref="NameOnCard" minOccurs="0"/>
		<xsd:element ref="CommercialCardCode" minOccurs="0"/>
		<xsd:element ref="SalesTaxAmount" minOccurs="0"/>
		<xsd:element ref="IsECommerce" minOccurs="0"/>
	</xsd:sequence>
	<xsd:attribute name="requestID" type="STRTYPE"/>
</xsd:complexType>


<!-- CustomerCreditCardTxn Requests -->
<xsd:complexType name="CustomerCreditCardTxnVoidRqType">
	<xsd:sequence>
		<xsd:element ref="CreditCardTransID"/>
	</xsd:sequence>
	<xsd:attribute name="requestID" type="STRTYPE"/>
</xsd:complexType>



<!-- ============================================================================= -->
<!--      Response Detail                                                          -->
<!-- ============================================================================= -->


<!-- CustomerCreditCard Responses -->
<xsd:complexType name="CustomerCreditCardChargeRsType">
	<xsd:sequence>
		<xsd:element ref="CreditCardTransID" minOccurs="0"/>
		<xsd:element ref="AuthorizationCode" minOccurs="0"/>
		<xsd:element ref="AVSStreet" minOccurs="0"/>
		<xsd:element ref="AVSZip" minOccurs="0"/>
		<xsd:element ref="CardSecurityCodeMatch" minOccurs="0"/>
		<xsd:element ref="MerchantAccountNumber" minOccurs="0"/>
		<xsd:element ref="ReconBatchID" minOccurs="0"/>
		<xsd:element ref="PaymentGroupingCode" minOccurs="0"/>
		<xsd:element ref="PaymentStatus" minOccurs="0"/>
		<xsd:element ref="TxnAuthorizationTime" minOccurs="0"/>
		<xsd:element ref="TxnAuthorizationStamp" minOccurs="0"/>
	</xsd:sequence>
	<xsd:attribute name="requestID" type="STRTYPE"/>
	<xsd:attribute name="statusCode" type="INTTYPE" use="required"/>
	<xsd:attribute name="statusSeverity" type="STRTYPE" use="required"/>
	<xsd:attribute name="statusMessage" type="STRTYPE"/>
</xsd:complexType>

<xsd:complexType name="CustomerCreditCardVoiceAuthRsType">
	<xsd:sequence>
		<xsd:element ref="CreditCardTransID" minOccurs="0"/>
		<xsd:element ref="AuthorizationCode" minOccurs="0"/>
		<xsd:element ref="MerchantAccountNumber" minOccurs="0"/>
		<xsd:element ref="ReconBatchID" minOccurs="0"/>
		<xsd:element ref="PaymentGroupingCode" minOccurs="0"/>
		<xsd:element ref="PaymentStatus" minOccurs="0"/>
		<xsd:element ref="TxnAuthorizationTime" minOccurs="0"/>
		<xsd:element ref="TxnAuthorizationStamp" minOccurs="0"/>
	</xsd:sequence>
	<xsd:attribute name="requestID" type="STRTYPE"/>
	<xsd:attribute name="statusCode" type="INTTYPE" use="required"/>
	<xsd:attribute name="statusSeverity" type="STRTYPE" use="required"/>
	<xsd:attribute name="statusMessage" type="STRTYPE"/>
</xsd:complexType>

<xsd:complexType name="CustomerCreditCardAuthRsType">
	<xsd:sequence>
		<xsd:element ref="CreditCardTransID" minOccurs="0"/>
		<xsd:element ref="AuthorizationCode" minOccurs="0"/>
		<xsd:element ref="AVSStreet" minOccurs="0"/>
		<xsd:element ref="AVSZip" minOccurs="0"/>
		<xsd:element ref="CardSecurityCodeMatch" minOccurs="0"/>
	</xsd:sequence>
	<xsd:attribute name="requestID" type="STRTYPE"/>
	<xsd:attribute name="statusCode" type="INTTYPE" use="required"/>
	<xsd:attribute name="statusSeverity" type="STRTYPE" use="required"/>
	<xsd:attribute name="statusMessage" type="STRTYPE"/>
</xsd:complexType>

<xsd:complexType name="CustomerCreditCardCaptureRsType">
	<xsd:sequence>
		<xsd:element ref="CreditCardTransID" minOccurs="0"/>
		<xsd:element ref="AuthorizationCode" minOccurs="0"/>
		<xsd:element ref="MerchantAccountNumber" minOccurs="0"/>
		<xsd:element ref="ReconBatchID" minOccurs="0"/>
		<xsd:element ref="PaymentGroupingCode" minOccurs="0"/>
		<xsd:element ref="PaymentStatus" minOccurs="0"/>
		<xsd:element ref="TxnAuthorizationTime" minOccurs="0"/>
		<xsd:element ref="TxnAuthorizationStamp" minOccurs="0"/>
	</xsd:sequence>
	<xsd:attribute name="requestID" type="STRTYPE"/>
	<xsd:attribute name="statusCode" type="INTTYPE" use="required"/>
	<xsd:attribute name="statusSeverity" type="STRTYPE" use="required"/>
	<xsd:attribute name="statusMessage" type="STRTYPE"/>
</xsd:complexType>

<xsd:complexType name="CustomerCreditCardRefundRsType">
	<xsd:sequence>
		<xsd:element ref="CreditCardTransID" minOccurs="0"/>
		<xsd:element ref="MerchantAccountNumber" minOccurs="0"/>
		<xsd:element ref="ReconBatchID" minOccurs="0"/>
		<xsd:element ref="PaymentGroupingCode" minOccurs="0"/>
		<xsd:element ref="PaymentStatus" minOccurs="0"/>
		<xsd:element ref="TxnAuthorizationTime" minOccurs="0"/>
		<xsd:element ref="TxnAuthorizationStamp" minOccurs="0"/>
	</xsd:sequence>
	<xsd:attribute name="requestID" type="STRTYPE"/>
	<xsd:attribute name="statusCode" type="INTTYPE" use="required"/>
	<xsd:attribute name="statusSeverity" type="STRTYPE" use="required"/>
	<xsd:attribute name="statusMessage" type="STRTYPE"/>
</xsd:complexType>


<!-- CustomerCreditCardTxn Responses -->
<xsd:complexType name="CustomerCreditCardTxnVoidRsType">
	<xsd:sequence>
		<xsd:element ref="CreditCardTransID" minOccurs="0"/>
	</xsd:sequence>
	<xsd:attribute name="requestID" type="STRTYPE"/>
	<xsd:attribute name="statusCode" type="INTTYPE" use="required"/>
	<xsd:attribute name="statusSeverity" type="STRTYPE" use="required"/>
	<xsd:attribute name="statusMessage" type="STRTYPE"/>
</xsd:complexType>



<!-- Top-level -->
<xsd:element name="QBMSXML">
	<xsd:complexType>
		<xsd:choice>
			<xsd:sequence>
				<xsd:element ref="SignonMsgsRq"/>
				<xsd:choice>
					<xsd:element ref="QBMSXMLMsgsRq" minOccurs="0"/>
				</xsd:choice>
			</xsd:sequence>

			<xsd:sequence>
				<xsd:element ref="SignonMsgsRs"/>
				<xsd:choice>
					<xsd:element ref="QBMSXMLMsgsRs" minOccurs="0"/>
				</xsd:choice>
			</xsd:sequence>
		</xsd:choice>
	</xsd:complexType>
</xsd:element>

</xsd:schema>
