ColdBooks/java/dtds/qbmsxml21.xsd


<!-- ============================================================================= -->
<!--                                                                               -->
<!-- qbmsxml21.xsd                                                                 -->
<!--                                                                               -->
<!-- qbmsXML version 2.1                                                           -->
<!--                                                                               -->
<!-- (c) 2007 Intuit Inc. All rights reserved.                                     -->
<!--                                                                               -->
<!-- Use is subject to a qbmsXML Developer Agreement available at:                -->
<!--          http://developer.intuit.com/legal/                                   -->
<!--                                                                               -->
<!-- ============================================================================= -->

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">

<xsd:include schemaLocation="qbmsxmltypes21.xsd"/>
<xsd:include schemaLocation="qbmsxmlso21.xsd"/>


<!-- ============================================================================= -->
<!--     Elements                                                                  -->
<!-- ============================================================================= -->

<xsd:element name="CreditCardNumber" type="STRTYPE"/>
<xsd:element name="CreditCardAddress" type="STRTYPE"/>
<xsd:element name="CreditCardPostalCode" type="STRTYPE"/>
<xsd:element name="NameOnCard" type="STRTYPE"/>
<xsd:element name="Amount" type="AMTTYPE"/>
<xsd:element name="ExpirationYear" type="INTTYPE"/>
<xsd:element name="ExpirationMonth">
	<xsd:simpleType>
		<xsd:restriction base="INTTYPE">
			<xsd:maxInclusive value="12"/>
			<xsd:minInclusive value="1"/>
		</xsd:restriction>
	</xsd:simpleType>
</xsd:element>
<xsd:element name="SalesTaxAmount" type="AMTTYPE"/>
<xsd:element name="CommercialCardCode" type="STRTYPE"/>
<xsd:element name="CardSecurityCode" type="STRTYPE"/>
<xsd:element name="CardSecurityCodeMatch">
	<xsd:simpleType>
		<xsd:restriction base="ENUMTYPE">
			<xsd:enumeration value="Pass"/>
			<xsd:enumeration value="Fail"/>
			<xsd:enumeration value="NotAvailable"/>
		</xsd:restriction>
	</xsd:simpleType>
</xsd:element>
<xsd:element name="CreditCardTransID" type="STRTYPE"/>
<xsd:element name="ReconBatchID" type="STRTYPE"/>
<xsd:element name="PaymentGroupingCode" type="INTTYPE"/>
<xsd:element name="PaymentStatus">
	<xsd:simpleType>
		<xsd:restriction base="ENUMTYPE">
			<xsd:enumeration value="Unknown"/>
			<xsd:enumeration value="Completed"/>
		</xsd:restriction>
	</xsd:simpleType>
</xsd:element>
<xsd:element name="AVSStreet">
	<xsd:simpleType>
		<xsd:restriction base="ENUMTYPE">
			<xsd:enumeration value="Pass"/>
			<xsd:enumeration value="Fail"/>
			<xsd:enumeration value="NotAvailable"/>
		</xsd:restriction>
	</xsd:simpleType>
</xsd:element>
<xsd:element name="AVSZip">
	<xsd:simpleType>
		<xsd:restriction base="ENUMTYPE">
			<xsd:enumeration value="Pass"/>
			<xsd:enumeration value="Fail"/>
			<xsd:enumeration value="NotAvailable"/>
		</xsd:restriction>
	</xsd:simpleType>
</xsd:element>
<xsd:element name="MerchantAccountNumber" type="STRTYPE"/>
<xsd:element name="AuthorizationCode" type="STRTYPE"/>
<xsd:element name="TxnAuthorizationTime" type="DATETIMETYPE"/>
<xsd:element name="TxnAuthorizationStamp" type="INTTYPE"/>
<xsd:element name="IsECommerce" type="BOOLTYPE"/>
<xsd:element name="IsRecurring" type="BOOLTYPE"/>
<xsd:element name="ConvenienceFees" type="AMTTYPE"/>
<xsd:element name="CreditCardType">
	<xsd:simpleType>
		<xsd:restriction base="ENUMTYPE">
			<xsd:enumeration value="Visa"/>
			<xsd:enumeration value="MasterCard"/>
			<xsd:enumeration value="Discover"/>
			<xsd:enumeration value="AmericanExpress"/>
			<xsd:enumeration value="JCB"/>
			<xsd:enumeration value="DinersClub"/>
		</xsd:restriction>
	</xsd:simpleType>
</xsd:element>
<xsd:element name="IsCardPresent" type="BOOLTYPE"/>
<xsd:element name="Track2Data" type="STRTYPE"/>
<xsd:element name="TransRequestID" type="STRTYPE"/>
<xsd:element name="ClientTransID" type="STRTYPE"/>
<xsd:element name="VoidOrRefundTxnType">
	<xsd:simpleType>
		<xsd:restriction base="ENUMTYPE">
			<xsd:enumeration value="Refund"/>
			<xsd:enumeration value="Void"/>
		</xsd:restriction>
	</xsd:simpleType>
</xsd:element>
<xsd:element name="ForceRefund" type="BOOLTYPE"/>


<!-- ============================================================================= -->
<!--      Macros                                                                   -->
<!-- ============================================================================= -->

<xsd:group name="Indicator">
	<xsd:sequence>
		<xsd:choice minOccurs="0">
			<xsd:element ref="IsCardPresent"/>
			<xsd:element ref="IsECommerce"/>
			<xsd:element ref="IsRecurring"/>
		</xsd:choice>
	</xsd:sequence>
</xsd:group>

<xsd:group name="IndicatorWithoutIsRecurring">
	<xsd:sequence>
		<xsd:choice minOccurs="0">
			<xsd:element ref="IsCardPresent"/>
			<xsd:element ref="IsECommerce"/>
		</xsd:choice>
	</xsd:sequence>
</xsd:group>

<xsd:group name="CreditCardData">
	<xsd:sequence>
		<xsd:element name="CreditCardNumber">
			<xsd:simpleType>
				<xsd:restriction base="STRTYPE">
					<xsd:maxLength value="19"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:element>
		<xsd:element ref="ExpirationMonth"/>
		<xsd:element ref="ExpirationYear"/>
		<xsd:group ref="Indicator"/>
	</xsd:sequence>
</xsd:group>

<xsd:group name="CreditCardDataWithoutIsRecurring">
	<xsd:sequence>
		<xsd:element name="CreditCardNumber">
			<xsd:simpleType>
				<xsd:restriction base="STRTYPE">
					<xsd:maxLength value="19"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:element>
		<xsd:element ref="ExpirationMonth"/>
		<xsd:element ref="ExpirationYear"/>
		<xsd:group ref="IndicatorWithoutIsRecurring"/>
	</xsd:sequence>
</xsd:group>



<!-- ============================================================================= -->
<!--      Message Sets                                                             -->
<!-- ============================================================================= -->

<!-- Message Set Request/Response Pairs and contained requests  -->
<xsd:element name="QBMSXMLMsgsRq">
	<xsd:complexType>
		<xsd:choice minOccurs="0" maxOccurs="unbounded">
			<xsd:element name="CustomerCreditCardChargeRq" type="CustomerCreditCardChargeRqType"/>
			<xsd:element name="CustomerCreditCardVoiceAuthRq" type="CustomerCreditCardVoiceAuthRqType"/>
			<xsd:element name="CustomerCreditCardAuthRq" type="CustomerCreditCardAuthRqType"/>
			<xsd:element name="CustomerCreditCardCaptureRq" type="CustomerCreditCardCaptureRqType"/>
			<xsd:element name="CustomerCreditCardRefundRq" type="CustomerCreditCardRefundRqType"/>
			<xsd:element name="CustomerCreditCardTxnVoidRq" type="CustomerCreditCardTxnVoidRqType"/>
			<xsd:element name="CustomerCreditCardTxnVoidOrRefundRq" type="CustomerCreditCardTxnVoidOrRefundRqType"/>
			<xsd:element name="MerchantAccountQueryRq" type="MerchantAccountQueryRqType"/>
		</xsd:choice>
	</xsd:complexType>
</xsd:element>

<xsd:element name="QBMSXMLMsgsRs">
	<xsd:complexType>
		<xsd:choice minOccurs="0" maxOccurs="unbounded">
			<xsd:element name="CustomerCreditCardChargeRs" type="CustomerCreditCardChargeRsType"/>
			<xsd:element name="CustomerCreditCardVoiceAuthRs" type="CustomerCreditCardVoiceAuthRsType"/>
			<xsd:element name="CustomerCreditCardAuthRs" type="CustomerCreditCardAuthRsType"/>
			<xsd:element name="CustomerCreditCardCaptureRs" type="CustomerCreditCardCaptureRsType"/>
			<xsd:element name="CustomerCreditCardRefundRs" type="CustomerCreditCardRefundRsType"/>
			<xsd:element name="CustomerCreditCardTxnVoidRs" type="CustomerCreditCardTxnVoidRsType"/>
			<xsd:element name="CustomerCreditCardTxnVoidOrRefundRs" type="CustomerCreditCardTxnVoidOrRefundRsType"/>
			<xsd:element name="MerchantAccountQueryRs" type="MerchantAccountQueryRsType"/>
		</xsd:choice>
	</xsd:complexType>
</xsd:element>

<!-- ============================================================================= -->
<!--      Request Detail                                                           -->
<!-- ============================================================================= -->


<!-- CustomerCreditCard Requests -->
<xsd:complexType name="CustomerCreditCardChargeRqType">
	<xsd:sequence>
		<xsd:element name="TransRequestID">
			<xsd:simpleType>
				<xsd:restriction base="STRTYPE">
					<xsd:maxLength value="50"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:element>
		<xsd:choice>
			<xsd:group ref="CreditCardData"/>
			<xsd:element name="Track2Data">
				<xsd:simpleType>
					<xsd:restriction base="STRTYPE">
						<xsd:maxLength value="39"/>
						<xsd:minLength value="23"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:choice>
		<xsd:element ref="Amount"/>
		<xsd:element name="NameOnCard" minOccurs="0">
			<xsd:simpleType>
				<xsd:restriction base="STRTYPE">
					<xsd:maxLength value="30"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:element>
		<xsd:element name="CreditCardAddress" minOccurs="0">
			<xsd:simpleType>
				<xsd:restriction base="STRTYPE">
					<xsd:maxLength value="30"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:element>
		<xsd:element name="CreditCardPostalCode" minOccurs="0">
			<xsd:simpleType>
				<xsd:restriction base="STRTYPE">
					<xsd:maxLength value="9"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:element>
		<xsd:element name="CommercialCardCode" minOccurs="0">
			<xsd:simpleType>
				<xsd:restriction base="STRTYPE">
					<xsd:maxLength value="25"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:element>
		<xsd:element ref="SalesTaxAmount" minOccurs="0"/>
		<xsd:element name="CardSecurityCode" minOccurs="0">
			<xsd:simpleType>
				<xsd:restriction base="STRTYPE">
					<xsd:maxLength value="4"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:element>
	</xsd:sequence>
	<xsd:attribute name="requestID" type="STRTYPE"/>
</xsd:complexType>

<xsd:complexType name="CustomerCreditCardVoiceAuthRqType">
	<xsd:sequence>
		<xsd:element name="TransRequestID">
			<xsd:simpleType>
				<xsd:restriction base="STRTYPE">
					<xsd:maxLength value="50"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:element>
		<xsd:choice>
			<xsd:group ref="CreditCardDataWithoutIsRecurring"/>
			<xsd:element name="Track2Data">
				<xsd:simpleType>
					<xsd:restriction base="STRTYPE">
						<xsd:maxLength value="39"/>
						<xsd:minLength value="23"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:choice>
		<xsd:element ref="Amount"/>
		<xsd:element name="AuthorizationCode">
			<xsd:simpleType>
				<xsd:restriction base="STRTYPE">
					<xsd:maxLength value="6"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:element>
		<xsd:element name="CommercialCardCode" minOccurs="0">
			<xsd:simpleType>
				<xsd:restriction base="STRTYPE">
					<xsd:maxLength value="25"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:element>
		<xsd:element ref="SalesTaxAmount" minOccurs="0"/>
	</xsd:sequence>
	<xsd:attribute name="requestID" type="STRTYPE"/>
</xsd:complexType>

<xsd:complexType name="CustomerCreditCardAuthRqType">
	<xsd:sequence>
		<xsd:element name="TransRequestID">
			<xsd:simpleType>
				<xsd:restriction base="STRTYPE">
					<xsd:maxLength value="50"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:element>
		<xsd:choice>
			<xsd:group ref="CreditCardData"/>
			<xsd:element name="Track2Data">
				<xsd:simpleType>
					<xsd:restriction base="STRTYPE">
						<xsd:maxLength value="39"/>
						<xsd:minLength value="23"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:choice>
		<xsd:element ref="Amount"/>
		<xsd:element name="NameOnCard" minOccurs="0">
			<xsd:simpleType>
				<xsd:restriction base="STRTYPE">
					<xsd:maxLength value="30"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:element>
		<xsd:element name="CreditCardAddress" minOccurs="0">
			<xsd:simpleType>
				<xsd:restriction base="STRTYPE">
					<xsd:maxLength value="30"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:element>
		<xsd:element name="CreditCardPostalCode" minOccurs="0">
			<xsd:simpleType>
				<xsd:restriction base="STRTYPE">
					<xsd:maxLength value="9"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:element>
		<xsd:element name="CommercialCardCode" minOccurs="0">
			<xsd:simpleType>
				<xsd:restriction base="STRTYPE">
					<xsd:maxLength value="25"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:element>
		<xsd:element ref="SalesTaxAmount" minOccurs="0"/>
		<xsd:element name="CardSecurityCode" minOccurs="0">
			<xsd:simpleType>
				<xsd:restriction base="STRTYPE">
					<xsd:maxLength value="4"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:element>
	</xsd:sequence>
	<xsd:attribute name="requestID" type="STRTYPE"/>
</xsd:complexType>

<xsd:complexType name="CustomerCreditCardCaptureRqType">
	<xsd:sequence>
		<xsd:element name="TransRequestID">
			<xsd:simpleType>
				<xsd:restriction base="STRTYPE">
					<xsd:maxLength value="50"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:element>
		<xsd:element name="CreditCardTransID">
			<xsd:simpleType>
				<xsd:restriction base="STRTYPE">
					<xsd:maxLength value="12"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:element>
		<xsd:element ref="Amount" minOccurs="0"/>
	</xsd:sequence>
	<xsd:attribute name="requestID" type="STRTYPE"/>
</xsd:complexType>

<xsd:complexType name="CustomerCreditCardRefundRqType">
	<xsd:sequence>
		<xsd:element name="TransRequestID">
			<xsd:simpleType>
				<xsd:restriction base="STRTYPE">
					<xsd:maxLength value="50"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:element>
		<xsd:choice>
			<xsd:group ref="CreditCardDataWithoutIsRecurring"/>
			<xsd:element name="Track2Data">
				<xsd:simpleType>
					<xsd:restriction base="STRTYPE">
						<xsd:maxLength value="39"/>
						<xsd:minLength value="23"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:choice>
		<xsd:element ref="Amount"/>
		<xsd:element name="NameOnCard" minOccurs="0">
			<xsd:simpleType>
				<xsd:restriction base="STRTYPE">
					<xsd:maxLength value="30"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:element>
		<xsd:element name="CommercialCardCode" minOccurs="0">
			<xsd:simpleType>
				<xsd:restriction base="STRTYPE">
					<xsd:maxLength value="25"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:element>
		<xsd:element ref="SalesTaxAmount" minOccurs="0"/>
	</xsd:sequence>
	<xsd:attribute name="requestID" type="STRTYPE"/>
</xsd:complexType>


<!-- CustomerCreditCardTxn Requests -->
<xsd:complexType name="CustomerCreditCardTxnVoidRqType">
	<xsd:sequence>
		<xsd:element name="TransRequestID">
			<xsd:simpleType>
				<xsd:restriction base="STRTYPE">
					<xsd:maxLength value="50"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:element>
		<xsd:element name="CreditCardTransID">
			<xsd:simpleType>
				<xsd:restriction base="STRTYPE">
					<xsd:maxLength value="12"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:element>
		<xsd:element name="ClientTransID" minOccurs="0">
			<xsd:simpleType>
				<xsd:restriction base="STRTYPE">
					<xsd:maxLength value="16"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:element>
	</xsd:sequence>
	<xsd:attribute name="requestID" type="STRTYPE"/>
</xsd:complexType>

<xsd:complexType name="CustomerCreditCardTxnVoidOrRefundRqType">
	<xsd:sequence>
		<xsd:element name="TransRequestID">
			<xsd:simpleType>
				<xsd:restriction base="STRTYPE">
					<xsd:maxLength value="50"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:element>
		<xsd:element name="CreditCardTransID">
			<xsd:simpleType>
				<xsd:restriction base="STRTYPE">
					<xsd:maxLength value="12"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:element>
		<xsd:element name="ClientTransID" minOccurs="0">
			<xsd:simpleType>
				<xsd:restriction base="STRTYPE">
					<xsd:maxLength value="16"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:element>
		<xsd:element ref="Amount" minOccurs="0"/>
		<xsd:element name="CommercialCardCode" minOccurs="0">
			<xsd:simpleType>
				<xsd:restriction base="STRTYPE">
					<xsd:maxLength value="25"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:element>
		<xsd:element ref="SalesTaxAmount" minOccurs="0"/>
		<xsd:element ref="ForceRefund" minOccurs="0"/>
	</xsd:sequence>
	<xsd:attribute name="requestID" type="STRTYPE"/>
</xsd:complexType>


<!-- MerchantAccount Requests -->
<xsd:complexType name="MerchantAccountQueryRqType">
	<xsd:attribute name="requestID" type="STRTYPE"/>
</xsd:complexType>



<!-- ============================================================================= -->
<!--      Response Detail                                                          -->
<!-- ============================================================================= -->


<!-- CustomerCreditCard Responses -->
<xsd:complexType name="CustomerCreditCardChargeRsType">
	<xsd:sequence>
		<xsd:element name="CreditCardTransID" minOccurs="0">
			<xsd:simpleType>
				<xsd:restriction base="STRTYPE">
					<xsd:maxLength value="12"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:element>
		<xsd:element name="AuthorizationCode" minOccurs="0">
			<xsd:simpleType>
				<xsd:restriction base="STRTYPE">
					<xsd:maxLength value="6"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:element>
		<xsd:element ref="AVSStreet" minOccurs="0"/>
		<xsd:element ref="AVSZip" minOccurs="0"/>
		<xsd:element ref="CardSecurityCodeMatch" minOccurs="0"/>
		<xsd:element name="MerchantAccountNumber" minOccurs="0">
			<xsd:simpleType>
				<xsd:restriction base="STRTYPE">
					<xsd:maxLength value="16"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:element>
		<xsd:element name="ReconBatchID" minOccurs="0">
			<xsd:simpleType>
				<xsd:restriction base="STRTYPE">
					<xsd:maxLength value="84"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:element>
		<xsd:element ref="PaymentGroupingCode" minOccurs="0"/>
		<xsd:element ref="PaymentStatus" minOccurs="0"/>
		<xsd:element ref="TxnAuthorizationTime" minOccurs="0"/>
		<xsd:element ref="TxnAuthorizationStamp" minOccurs="0"/>
		<xsd:element name="ClientTransID" minOccurs="0">
			<xsd:simpleType>
				<xsd:restriction base="STRTYPE">
					<xsd:maxLength value="16"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:element>
	</xsd:sequence>
	<xsd:attribute name="requestID" type="STRTYPE"/>
	<xsd:attribute name="statusCode" type="INTTYPE" use="required"/>
	<xsd:attribute name="statusSeverity" type="STRTYPE" use="required"/>
	<xsd:attribute name="statusMessage" type="STRTYPE"/>
</xsd:complexType>

<xsd:complexType name="CustomerCreditCardVoiceAuthRsType">
	<xsd:sequence>
		<xsd:element name="CreditCardTransID" minOccurs="0">
			<xsd:simpleType>
				<xsd:restriction base="STRTYPE">
					<xsd:maxLength value="12"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:element>
		<xsd:element name="AuthorizationCode" minOccurs="0">
			<xsd:simpleType>
				<xsd:restriction base="STRTYPE">
					<xsd:maxLength value="6"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:element>
		<xsd:element name="MerchantAccountNumber" minOccurs="0">
			<xsd:simpleType>
				<xsd:restriction base="STRTYPE">
					<xsd:maxLength value="16"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:element>
		<xsd:element name="ReconBatchID" minOccurs="0">
			<xsd:simpleType>
				<xsd:restriction base="STRTYPE">
					<xsd:maxLength value="84"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:element>
		<xsd:element ref="PaymentGroupingCode" minOccurs="0"/>
		<xsd:element ref="PaymentStatus" minOccurs="0"/>
		<xsd:element ref="TxnAuthorizationTime" minOccurs="0"/>
		<xsd:element ref="TxnAuthorizationStamp" minOccurs="0"/>
		<xsd:element name="ClientTransID" minOccurs="0">
			<xsd:simpleType>
				<xsd:restriction base="STRTYPE">
					<xsd:maxLength value="16"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:element>
	</xsd:sequence>
	<xsd:attribute name="requestID" type="STRTYPE"/>
	<xsd:attribute name="statusCode" type="INTTYPE" use="required"/>
	<xsd:attribute name="statusSeverity" type="STRTYPE" use="required"/>
	<xsd:attribute name="statusMessage" type="STRTYPE"/>
</xsd:complexType>

<xsd:complexType name="CustomerCreditCardAuthRsType">
	<xsd:sequence>
		<xsd:element name="CreditCardTransID" minOccurs="0">
			<xsd:simpleType>
				<xsd:restriction base="STRTYPE">
					<xsd:maxLength value="12"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:element>
		<xsd:element name="AuthorizationCode" minOccurs="0">
			<xsd:simpleType>
				<xsd:restriction base="STRTYPE">
					<xsd:maxLength value="6"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:element>
		<xsd:element ref="AVSStreet" minOccurs="0"/>
		<xsd:element ref="AVSZip" minOccurs="0"/>
		<xsd:element ref="CardSecurityCodeMatch" minOccurs="0"/>
		<xsd:element name="ClientTransID" minOccurs="0">
			<xsd:simpleType>
				<xsd:restriction base="STRTYPE">
					<xsd:maxLength value="16"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:element>
	</xsd:sequence>
	<xsd:attribute name="requestID" type="STRTYPE"/>
	<xsd:attribute name="statusCode" type="INTTYPE" use="required"/>
	<xsd:attribute name="statusSeverity" type="STRTYPE" use="required"/>
	<xsd:attribute name="statusMessage" type="STRTYPE"/>
</xsd:complexType>

<xsd:complexType name="CustomerCreditCardCaptureRsType">
	<xsd:sequence>
		<xsd:element name="CreditCardTransID" minOccurs="0">
			<xsd:simpleType>
				<xsd:restriction base="STRTYPE">
					<xsd:maxLength value="12"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:element>
		<xsd:element name="AuthorizationCode" minOccurs="0">
			<xsd:simpleType>
				<xsd:restriction base="STRTYPE">
					<xsd:maxLength value="6"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:element>
		<xsd:element name="MerchantAccountNumber" minOccurs="0">
			<xsd:simpleType>
				<xsd:restriction base="STRTYPE">
					<xsd:maxLength value="16"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:element>
		<xsd:element name="ReconBatchID" minOccurs="0">
			<xsd:simpleType>
				<xsd:restriction base="STRTYPE">
					<xsd:maxLength value="84"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:element>
		<xsd:element ref="PaymentGroupingCode" minOccurs="0"/>
		<xsd:element ref="PaymentStatus" minOccurs="0"/>
		<xsd:element ref="TxnAuthorizationTime" minOccurs="0"/>
		<xsd:element ref="TxnAuthorizationStamp" minOccurs="0"/>
		<xsd:element name="ClientTransID" minOccurs="0">
			<xsd:simpleType>
				<xsd:restriction base="STRTYPE">
					<xsd:maxLength value="16"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:element>
	</xsd:sequence>
	<xsd:attribute name="requestID" type="STRTYPE"/>
	<xsd:attribute name="statusCode" type="INTTYPE" use="required"/>
	<xsd:attribute name="statusSeverity" type="STRTYPE" use="required"/>
	<xsd:attribute name="statusMessage" type="STRTYPE"/>
</xsd:complexType>

<xsd:complexType name="CustomerCreditCardRefundRsType">
	<xsd:sequence>
		<xsd:element name="CreditCardTransID" minOccurs="0">
			<xsd:simpleType>
				<xsd:restriction base="STRTYPE">
					<xsd:maxLength value="12"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:element>
		<xsd:element name="MerchantAccountNumber" minOccurs="0">
			<xsd:simpleType>
				<xsd:restriction base="STRTYPE">
					<xsd:maxLength value="16"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:element>
		<xsd:element name="ReconBatchID" minOccurs="0">
			<xsd:simpleType>
				<xsd:restriction base="STRTYPE">
					<xsd:maxLength value="84"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:element>
		<xsd:element ref="PaymentGroupingCode" minOccurs="0"/>
		<xsd:element ref="PaymentStatus" minOccurs="0"/>
		<xsd:element ref="TxnAuthorizationTime" minOccurs="0"/>
		<xsd:element ref="TxnAuthorizationStamp" minOccurs="0"/>
		<xsd:element name="ClientTransID" minOccurs="0">
			<xsd:simpleType>
				<xsd:restriction base="STRTYPE">
					<xsd:maxLength value="16"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:element>
	</xsd:sequence>
	<xsd:attribute name="requestID" type="STRTYPE"/>
	<xsd:attribute name="statusCode" type="INTTYPE" use="required"/>
	<xsd:attribute name="statusSeverity" type="STRTYPE" use="required"/>
	<xsd:attribute name="statusMessage" type="STRTYPE"/>
</xsd:complexType>


<!-- CustomerCreditCardTxn Responses -->
<xsd:complexType name="CustomerCreditCardTxnVoidRsType">
	<xsd:sequence>
		<xsd:element name="CreditCardTransID" minOccurs="0">
			<xsd:simpleType>
				<xsd:restriction base="STRTYPE">
					<xsd:maxLength value="12"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:element>
		<xsd:element name="ClientTransID" minOccurs="0">
			<xsd:simpleType>
				<xsd:restriction base="STRTYPE">
					<xsd:maxLength value="16"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:element>
	</xsd:sequence>
	<xsd:attribute name="requestID" type="STRTYPE"/>
	<xsd:attribute name="statusCode" type="INTTYPE" use="required"/>
	<xsd:attribute name="statusSeverity" type="STRTYPE" use="required"/>
	<xsd:attribute name="statusMessage" type="STRTYPE"/>
</xsd:complexType>

<xsd:complexType name="CustomerCreditCardTxnVoidOrRefundRsType">
	<xsd:sequence>
		<xsd:element name="CreditCardTransID" minOccurs="0">
			<xsd:simpleType>
				<xsd:restriction base="STRTYPE">
					<xsd:maxLength value="12"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:element>
		<xsd:element name="ClientTransID" minOccurs="0">
			<xsd:simpleType>
				<xsd:restriction base="STRTYPE">
					<xsd:maxLength value="16"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:element>
		<xsd:element ref="VoidOrRefundTxnType" minOccurs="0"/>
		<xsd:element name="MerchantAccountNumber" minOccurs="0">
			<xsd:simpleType>
				<xsd:restriction base="STRTYPE">
					<xsd:maxLength value="16"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:element>
		<xsd:element name="ReconBatchID" minOccurs="0">
			<xsd:simpleType>
				<xsd:restriction base="STRTYPE">
					<xsd:maxLength value="84"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:element>
		<xsd:element ref="PaymentGroupingCode" minOccurs="0"/>
		<xsd:element ref="PaymentStatus" minOccurs="0"/>
		<xsd:element ref="TxnAuthorizationTime" minOccurs="0"/>
		<xsd:element ref="TxnAuthorizationStamp" minOccurs="0"/>
	</xsd:sequence>
	<xsd:attribute name="requestID" type="STRTYPE"/>
	<xsd:attribute name="statusCode" type="INTTYPE" use="required"/>
	<xsd:attribute name="statusSeverity" type="STRTYPE" use="required"/>
	<xsd:attribute name="statusMessage" type="STRTYPE"/>
</xsd:complexType>


<!-- MerchantAccount Responses -->
<xsd:complexType name="MerchantAccountQueryRsType">
	<xsd:sequence>
		<xsd:element ref="ConvenienceFees" minOccurs="0"/>
		<xsd:element ref="CreditCardType" minOccurs="0" maxOccurs="unbounded"/>
	</xsd:sequence>
	<xsd:attribute name="requestID" type="STRTYPE"/>
	<xsd:attribute name="statusCode" type="INTTYPE" use="required"/>
	<xsd:attribute name="statusSeverity" type="STRTYPE" use="required"/>
	<xsd:attribute name="statusMessage" type="STRTYPE"/>
</xsd:complexType>



<!-- Top-level -->
<xsd:element name="QBMSXML">
	<xsd:complexType>
		<xsd:choice>
			<xsd:sequence>
				<xsd:element ref="SignonMsgsRq"/>
				<xsd:choice>
					<xsd:element ref="QBMSXMLMsgsRq" minOccurs="0"/>
				</xsd:choice>
			</xsd:sequence>

			<xsd:sequence>
				<xsd:element ref="SignonMsgsRs"/>
				<xsd:choice>
					<xsd:element ref="QBMSXMLMsgsRs" minOccurs="0"/>
				</xsd:choice>
			</xsd:sequence>
		</xsd:choice>
	</xsd:complexType>
</xsd:element>

</xsd:schema>
